.home-header {
  text-align: center;

  .blog-avatar {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: 1em auto;
  }

  .blog-description {
    font-size: 18px;
    color: #9a9a9a;
    line-height: 30px;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    font-family: $font-sans-serif;
    border-bottom: 1px solid #dadada;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  .enabled,
  .disabled,
  .pageNumber,
  .currentPage {
    font-family: $font-sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #babbcc;
    padding: 5px;
  }

  .enabled {
    font-weight: 600;
    font-family: 'Circular-Loom';
  }

  a {
    margin: 0px 10px;
    width: 30px;
    height: 30px;
    line-height: 25px;
  }

  .disabled {
    display: none;
  }

  .currentPage {
    background-color: #6b85fc;
    display: block;
    text-align: center;
    border-radius: 3px;
    color: white;
    margin-top: 3px;
    line-height: 19px;
  }
}
